body{
    background-attachment: fixed;
    background-size: 200px 200px;
    background-color: #DDD;
}
header{
    border: 1px;
    width: 98%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 1%;
    text-align: center;
    /*background-image: -moz-radial-gradient(45deg, white, #7FA5AE);*/
}
header > h1{
    text-align: left;
}
footer{
    border: 1px;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 1%;
    height: 150px;
    clear: both;
    /*background-image: -moz-radial-gradient(45deg, white, #7FA5AE);*/
}
section{
    border: 1px;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 1%;
    /*background-image: -moz-radial-gradient(45deg, white, #7FA5AE);*/
}